<div class="page">
    <div class="page-container">
        <div class="page-header">

            <div class="page-header-content">
                <div class="back-btn-section">
                    <button class="btn-back" (click)="goToHome()" >
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="header-text">
                    Edit Hospital
                </div>
            </div>

            <hr class="hr-1">

        </div>

        <div class="page-body">
            <div class="form-container">
                <div class="form-body">
                    
                    <div class="section-form-input">
                        <div class="form-item">
                            <div class="item-topic">
                                Hospital Name :
                            </div>
                            <div class="item-input">
                                <input type="text" placeholder="Insert Hospital Name" required>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-topic">
                                Hospital Short :
                            </div>
                            <div class="item-input">
                                <input type="text" placeholder="Insert Hospital Short" required>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-topic">
                                Hospital Location :
                            </div>
                            <div class="item-input">
                                <input type="text" placeholder="Insert Province" required>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="item-topic">
                                Hospital Image :
                            </div>
                            <div class="item-input">
                                <input type="file" placeholder="Choose Hospital Image" required>
                            </div>
                        </div>
                    </div>

                    <div class="section-hospital-img">
                        <div class="hospital-img-box">
                            <img [src]="getHospitalImg()" alt="hospital-img">
                        </div>
                    </div>

                </div>
                <div class="form-footer">
                    <button class="custom-btn-1 btn-cancel"> <span>Cancel</span> <i
                            class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="custom-btn-1 btn-confirm"> <span>Confirm</span> <i class="fa-solid fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>