<div class="page">
    <div class="page-container">

        <div class="page-header">
            <div class="page-header-content">

                <div class="header-title-section">
                    <div class="header-title">
                        Choose Hospital
                    </div>
                </div>

                <div class="btn-section">
                    <button class="btn-add" (click)="goToAddHospital()">
                        Add Hospital <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>

            <hr class="hr-1">

        </div>

        <div class="page-body">

            <div class="form-section">
                <div class="card-wrapper">
                    
                    <div class="card" *ngFor="let data of hospitalList" (click)="selectHospital(data.hospital_short)">
                        <div class="card-img">
                            <img [src]="getHospitalImg(22)" alt="hospital-img">
                        </div>
                        <div class="card-title">
                            {{data.hospital_name}}
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>