.hr-1 {
    width: calc(100% - 0px);
    border-top: 1px solid #94a3b8;
    margin: 0 auto;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #f1f5f9;
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-header-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.header-title-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title {
    font-size: 32px;
    color: #36858a;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
}


.btn-add {
    width: 100%;
    height: 40px;
    border-radius: 1000px;
    border: none;
    background-color: #36858a;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
}

.btn-add:hover {
    background-color: #11535f;
}

.page-body {
    width: 100%;
    height: calc(100% - 100px);
}

.form-section {
    width: 100%;
    height: 100%;
}

.card-wrapper {
    width: 100%;
    padding: 20px;
    overflow: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
    // transform: translateY(-10px);
    scale: 95%;
}

.card-img {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.card-title {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
}


@media screen and (min-width: 768px) {

    .page-header {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .page-header-content {
        display: grid;
        grid-template-columns: 1fr 160px;
        grid-template-rows: 1fr;
        gap: 20px;
    }


    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}