<div class="page">
    <div class="page-container">

        <div class="page-header">

            <div class="page-header-content">

                <div class="back-btn-section">
                    <button class="btn-back" (click)="goToHospital()">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>

                <div class="header-title-section">
                    <div class="header-title">
                        <div class="header-topic">
                            Machine Name :
                        </div>
                        <div class="header-info">
                            {{machineData[0].machine_name}}
                        </div>
                    </div>
                    <div class="header-title location-title">
                        <div class="header-topic hospital-location">
                            <i class="fa-solid fa-location-dot"></i>
                            {{machListByHos[0].hospital_location}}
                        </div>
                        <div class="header-info">
                            {{machListByHos[0].hospital_name}}
                        </div>
                    </div>
                </div>
            </div>

            <hr class="hr-1">

        </div>

        <div class="page-body">

            <div class="machine-part-wrapper" *ngFor="let machine of machineAndPart">
                <div class="part-item" *ngFor="let part of machine.part" (click)="goToPart(part.part_id)">
                    <div class="part-title">
                        {{part.part_name}}
                    </div>
                    <div class="part-wrapper">
                        <div class="part-img">
                            <img [src]="getPartImg(part.part_category)" alt="part-img">

                            <div class="sensor-wrapper">
                                <div class="sensor-box" *ngFor="let sensor of part.sensor_list"
                                    [ngClass]="[sensorBoxStatus(sensor.sensor_status)]"
                                    [ngStyle]="sensorBoxPositionNew(sensor.sensor_box_position_left, sensor.sensor_box_position_top)">
                                    {{sensor.sensor_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>