<div class="part-container">

    <div class="part-img-section">
        <div class="part-img-box">
            <img [src]="getPartImg()" alt="part-img">

            <div class="sensor-wrapper">
                <div class="sensor-box" *ngFor="let item of partSensorList"
                    [ngClass]="[sensorBoxStatus(item.sensor_status), sensorBoxPosition(item.sensor_position)] ">
                    {{item.sensor_name}}
                </div>
                <div class="sensor-line" *ngFor="let item of partSensorList"
                    [ngClass]="[sensorLineStatus(item.sensor_status), sensorLinePosition(item.sensor_position)]"></div>
            </div>
        </div>
    </div>

    <div class="part-content-section">
        <div class="part-content-header">

            <div class="part-topic-item">
                <div class="topic-item-name">
                    Machine ID :
                </div>
                <div class="topic-item-data">
                    {{partSensorList[0].part_machine}}
                </div>
            </div>

            <div class="part-topic-item">
                <div class="topic-item-name">
                    Part :
                </div>
                <div class="topic-item-data">
                    {{partSensorList[0].part_name}}
                </div>
            </div>

        </div>

        <div class="part-content-body">
            <div class="table-container">

                <table class="table-sensor">
                    <thead>
                        <tr>
                            <th>Sensor Name</th>
                            <th class="th-align-center">
                                Status
                                <mat-icon aria-hidden="false" aria-label="material-icon" fontIcon="sensors"></mat-icon>
                            </th>
                            <th>Date</th>
                            <th>Time Stamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of partSensorList; index as i">
                            <td class="text-center">{{item.sensor_name}}</td>
                            <td class="text-center">
                                <span class="material-icons" [ngClass]="sensorStatus(item.sensor_status) ">
                                    lightbulb
                                </span>
                            </td>
                            <td class="text-center">{{item.sensor_timestamp | date: "dd/MM/yyyy"}}</td>
                            <td class="text-center">{{item.sensor_timestamp | date: "HH:mm:ss"}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>