.part-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100%;
    gap: 20px;
}

.part-img-section {
    padding: 20px;
}

.part-img-box {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 2px solid #e2e8f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.sensor-wrapper {
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    position: relative;
    top: 0;
    left: 0;
}

.sensor-box {
    font-size: 1.6vw;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
    z-index: 99;
    border-radius: 5px;

    border: 1px solid #64748b;
    background-color: #e2e8f0;
}

.sensor-1 {
    position: absolute;
    top: 92%;
    left: 20%;
}

.sensor-2 {
    position: absolute;
    top: 77%;
    left: 20%;
}

.sensor-3 {
    position: absolute;
    top: 55%;
    left: 75%;
}

.sensor-4 {
    position: absolute;
    top: 45%;
    left: 75%;
}

.sensor-5 {
    position: absolute;
    top: 80%;
    left: 75%;
}

.sensor-6 {
    position: absolute;
    top: 67%;
    left: 75%;
}

.sensor-7 {
    position: absolute;
    top: 38%;
    left: 20%;
}

.sensor-8 {
    position: absolute;
    top: 45%;
    left: 20%;
}

.sensor-9 {
    position: absolute;
    top: 20%;
    left: 48%;
}

.sensor-10 {
    position: absolute;
    top: 10%;
    left: 42%;
}

.sensor-11 {
    position: absolute;
    top: 87%;
    left: 49%;
}

.sensor-12 {
    position: absolute;
    top: 27%;
    left: 35%;
}

// ----------- sesnsor line ---------------------

.sensor-line {
    height: 1px;
    background-color: #64748b;
}

.sensor-line-1 {
    position: absolute;
    top: 86%;
    left: 29%;
    width: 22%;
    rotate: -25deg;
}

.sensor-line-2 {
    position: absolute;
    top: 73%;
    left: 28%;
    width: 22%;
    rotate: -20deg;
}

.sensor-line-3 {
    position: absolute;
    top: 57%;
    right: 27%;
    width: 20%;
    rotate: -6deg;
}

.sensor-line-4 {
    position: absolute;
    top: 51%;
    right: 26%;
    width: 26%;
    rotate: -15deg;
}

.sensor-line-5 {
    position: absolute;
    top: 76%;
    right: 26%;
    width: 20%;
    rotate: 23deg;
}

.sensor-line-6 {
    position: absolute;
    top: 68%;
    right: 27%;
    width: 20%;
    rotate: 0deg;
}

.sensor-line-7 {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 20%;
    rotate: 1deg;
}

.sensor-line-8 {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 20%;
    rotate: -5deg;
}

.sensor-line-9 {
    position: absolute;
    top: 31%;
    left: 48%;
    width: 9%;
    rotate: 90deg;
}

.sensor-line-10 {
    position: absolute;
    top: 26%;
    left: 37%;
    width: 16%;
    rotate: 90deg;
}

.sensor-line-11 {
    position: absolute;
    top: 42%;
    left: 37%;
    width: 20%;
    rotate: 45deg;
}

.sensor-line-12 {
    position: absolute;
    top: 82%;
    left: 46%;
    width: 8%;
    rotate: 32deg;
}

.part-content-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    gap: 12px;
}

.part-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.part-topic-item {
    font-size: 1.2vw;
    display: flex;
    gap: 5px;
}

.topic-item-name {
    font-weight: bold;
}

.box-status-0 {
    border: 1px solid hsla(0, 100%, 40%, 1);
    background-color: hsla(0, 100%, 50%, 0.5);
}

.box-status-1 {
    border: 1px solid hsla(126, 100%, 40%, 1);
    background-color: hsla(126, 100%, 50%, 0.5);
}

.line-status-0 {
    border: 1px solid hsla(0, 100%, 40%, 1);
    background-color: hsla(0, 100%, 40%, 1);
}

.line-status-1 {
    border: 1px solid hsla(126, 100%, 40%, 1);
    background-color: hsla(126, 100%, 40%, 1);
}

.icon-status-0 {
    color: hsla(0, 100%, 50%, 0.5);
    -webkit-text-stroke: 1px hsla(0, 100%, 40%, 1);
}

.icon-status-1 {
    color: hsla(126, 100%, 50%, 0.5);
    -webkit-text-stroke: 1px hsla(126, 100%, 40%, 1);
}

.part-content-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table-container {
    max-height: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    overflow: auto;
}

.table-sensor {
    width: 100%;
    border-spacing: 0;
    position: relative;

    thead {
        position: sticky;
        top: 0;
        background-color: #cbd5e1;

        tr {
            th {
                font-size: 18px;
                font-weight: 900;
                white-space: nowrap;
                padding: 8px 4px;
            }
        }
    }

    tbody {
        tr {
            background-color: #ffffff;

            td {
                font-size: 16px;
                padding: 4px;
            }
        }

        tr:nth-child(even) {
            background-color: #f1f5f9;
        }
    }
}

.th-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-center {
    text-align: center;
}