$colordms1: #062226;
$colordms2: #11535f;
$colordms3: #36858a;
$colordms4: #4fbdba;
$colordms5: #aefeff;
$colordms6: #edffff;
$colordms7: #ffffff;

$colorslate1: #f8fafc;
$colorslate2: #f1f5f9;
$colorslate3: #e2e8f0;
$colorslate4: #cbd5e1;
$colorslate5: #94a3b8;
$colorslate6: #64748b;
$colorslate7: #475569;
$colorslate8: #334155;
$colorslate9: #1e293b;
$colorslate10: #0f172a;
$colorslate11: #020617;

.hr-1 {
    width: calc(100% - 0px);
    border-top: 1px solid #94a3b8;
    margin: 0 auto;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #f1f5f9;
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-header {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.page-header-content {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 160px;
    gap: 20px;
}

.back-btn-section {
    height: 100%;
}

.btn-back {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    border: none;
    color: hsl(0, 0%, 0%);
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #cbd5e1;
    transition: all ease-in-out 0.2s;

    svg {
        font-size: 18px;
    }
}

.btn-back:hover {
    background-color: #64748b;
    color: #ffffff;
}

.header-title-section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 16px;
}

.header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
}

.header-topic {
    font-weight: bold;
    font-family: 'prompt';
}

.btn-add {
    width: 100%;
    height: 40px;
    border-radius: 1000px;
    border: none;
    background-color: #36858a;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #11535f;
}

.page-body {
    width: 100%;
    padding: 20px;
}

.card-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
    // transform: translateY(-10px);
    scale: 95%;
}

.card-img {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.card-title {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
}
