<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-title" (click)="goToHome()">
            <div class="icon-box">
                <i class="fa-solid fa-hospital"></i>
            </div>
            DMS Monitoring
        </div>
        <div class="navbar-menu">
            <button class="menu-btn" (click)="goToAddHos()">
                <span>Add</span>
                <i class="fa-solid fa-plus"></i>
            </button>

            <button class="menu-btn" (click)="toggleSidebar()">
                <span>toggle</span>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
</div>


<div class="sidebar" [class.active]="isSidebarOpen">
    sidebar
</div>