<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-title" (click)="goToHome()">
            <div class="icon-box">
                <i class="fa-solid fa-hospital"></i>
            </div>
            DMS-Monitoring
        </div>
        <div class="navbar-menu">
            <div class="navbar-menu-section">
                <div class="menu-item">
                    <!-- <button class="menu-btn">
                        item1
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>