<div class="page-machine">

    <div class="part-machine-body">

        <div class="machine-part-wrapper" *ngFor="let machine of machineAndPart">

            <div class="part-item" *ngFor="let part of machine.part" (click)="goToPart(part.part_id)">

                <div class="part-title">
                    {{part.part_name}}
                </div>

                <div class="part-wrapper">
                    <div class="part-img">
                        <img [src]="getMachineImg(part.part_category)" alt="machine-img">
                    </div>

                    <div class="sensor-box" *ngFor="let sensor of part.sensor_list"
                        [ngClass]="[sensorPosition(sensor.sensor_position),sensorBoxStatus(sensor.sensor_status)]">
                        {{sensor.sensor_name}}
                    </div>

                    <div class="sensor-line" *ngFor="let sensor of part.sensor_list"
                        [ngClass]="[sensorBoxStatus(sensor.sensor_status), sensorLine(sensor.sensor_position)]">
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>