.page-machine {
    width: 100%;
    height: 100%;
}

.part-machine-body {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
}

.machine-part-wrapper {
    width: calc(100% - 0px);
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(1000, 85%);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.part-item {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.part-item:hover {
    scale: 98%;
}

.part-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2vw;
    background-color: #e2e8f0;
}

.part-wrapper {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    background-color: #ffffff;
}

.part-img {
    width: 100%;
    height: 100%;
    // height: fit-content;

    img {
        width: 100%;
        height: 100%;
        // object-fit: contain;
        // object-position: top;
        padding: 10px;
    }
}



.sensor-box {
    font-size: 1.6vw;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.sensor-1 {
    position: absolute;
    top: 80%;
    left: 10%;
}

.sensor-2 {
    position: absolute;
    top: 80%;
    left: 70%;
}

.sensor-3 {
    position: absolute;
    top: 70%;
    left: 70%;
}

.sensor-4 {
    position: absolute;
    top: 8%;
    left: 65%;
}

.sensor-5 {
    position: absolute;
    top: 20%;
    left: 74%;
}

.sensor-6 {
    position: absolute;
    top: 8%;
    left: 10%;
}

.sensor-7 {
    position: absolute;
    top: 30%;
    left: 2%;
}

.sensor-line {
    height: 3px;
    background-color: hsl(0, 0%, 1%);
}

.sensor-line-1 {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 16%;
    rotate: 90deg;
}

.sensor-line-2 {
    position: absolute;
    top: 82%;
    left: 52%;
    width: 16%;
    rotate: -15deg;
}

.sensor-line-3 {
    position: absolute;
    top: 71%;
    left: 50%;
    width: 18%;
    rotate: 0deg;
}

.sensor-line-4 {
    position: absolute;
    top: 22%;
    left: 43%;
    width: 30%;
    rotate: -65deg;
}

.sensor-line-5 {
    position: absolute;
    top: 30%;
    left: 73%;
    width: 16%;
    rotate: -90deg;
}

.sensor-line-6 {
    position: absolute;
    top: 26%;
    left: 15%;
    width: 46%;
    rotate: 60deg;
}

.sensor-line-7 {
    position: absolute;
    top: 40%;
    left: 6%;
    width: 17%;
    rotate: 75deg;
}

.status-0 {
    background-color: hsla(0, 100%, 50%, 0.7);
}

.status-1 {
    background-color: hsla(126, 100%, 50%, 0.7);
}

.status-null {
    background-color: hsla(0, 0%, 80%, 0.7);
}