.hr-1 {
    width: calc(100% - 0px);
    border-top: 1px solid #94a3b8;
    margin: 0 auto;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #f1f5f9;
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-header {
    width: 100%;
    height: 280px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-header-content {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 20px;
}

.back-btn-section {
    height: 100%;
}

.btn-back {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    border: none;
    color: hsl(0, 0%, 0%);
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #cbd5e1;
    transition: all ease-in-out 0.2s;

    svg {
        font-size: 18px;
    }
}

.btn-back:hover {
    background-color: #64748b;
    color: #ffffff;
}

.header-title-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
}

.header-topic {
    font-weight: bold;
    font-family: 'prompt';
}

.btn-add {
    width: 100%;
    height: 40px;
    border-radius: 1000px;
    border: none;
    background-color: #36858a;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #11535f;
}

.page-body {
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
}

// ------- part-container style -----------------
.part-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.part-img-section {
    padding: 0px;
    // min-height: 70vh ;
}

.part-img-box {
    width: 100%;
    height: calc((100vh) - (60px + 280px + 40px));
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 2px solid #e2e8f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.sensor-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sensor-box {
    padding: 5px;
    white-space: nowrap;
    text-align: center;
    z-index: 99;
    border-radius: 5px;
    border: 1px solid #64748b;
    background-color: #e2e8f0;
}

.sensor-line {
    height: 3px;
    background-color: hsl(0, 0%, 1%);
}

.part-content-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
}

.part-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.part-topic-item {
    font-size: 1.2vw;
    display: flex;
    gap: 5px;
}

.topic-item-name {
    font-weight: bold;
}

.box-status-0 {
    border: 1px solid hsla(0, 100%, 40%, 1);
    background-color: hsla(0, 100%, 50%, 0.5);
}

.box-status-1 {
    border: 1px solid hsla(126, 100%, 40%, 1);
    background-color: hsla(126, 100%, 50%, 0.5);
}

.line-status-0 {
    border: 1px solid hsla(0, 100%, 40%, 1);
    background-color: hsla(0, 100%, 40%, 1);
}

.line-status-1 {
    border: 1px solid hsla(126, 100%, 40%, 1);
    background-color: hsla(126, 100%, 40%, 1);
}

.icon-status-0 {
    color: hsla(0, 100%, 50%, 0.5);
    -webkit-text-stroke: 1px hsla(0, 100%, 40%, 1);
}

.icon-status-1 {
    color: hsla(126, 100%, 50%, 0.5);
    -webkit-text-stroke: 1px hsla(126, 100%, 40%, 1);
}

.part-content-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table-container {
    max-height: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    overflow: auto;
}

.table-sensor {
    width: 100%;
    border-spacing: 0;
    position: relative;

    thead {
        position: sticky;
        top: 0;
        background-color: #e2e8f0;

        tr {
            th {
                font-weight: bold;
                white-space: nowrap;
                padding: 8px 4px;
            }
        }
    }

    tbody {
        tr {
            background-color: #ffffff;

            td {
                padding: 4px;
            }
        }

        tr:nth-child(even) {
            background-color: #f1f5f9;
        }
    }
}

.th-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-center {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .part-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 800px 1fr;
        grid-template-rows: 100%;
    }
}

@media screen and (min-width:1200px) {
    .page-header {
        width: 100%;
        height: 100px;
    }

    .header-title-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 160px;
    }


    .part-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1000px 1fr;
        grid-template-rows: 100%;
    }

    .part-img-box {
        width: 100%;
        height: calc((100vh) - (60px + 100px + 30px));
    }
}

