<div class="page">
    <div class="page-container">

        <div class="page-header">

            <div class="page-header-content">

                <div class="back-btn-section">
                    <button class="btn-back" (click)="goToMachine()">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>

                <div class="header-title-section">

                    <div class="header-title">
                        <div class="header-topic">
                            Part :
                        </div>
                        <div class="header-info">
                            {{partMachHos[0].part_name}}
                        </div>
                    </div>

                    <div class="header-title">
                        <div class="header-topic">
                            Machine :
                        </div>
                        <div class="header-info">
                            {{partMachHos[0].machine_name}}
                        </div>
                    </div>

                    <div class="header-title">
                        <div class="header-topic">
                            Location :
                        </div>
                        <div class="header-info">
                            {{partMachHos[0].hospital_name}}
                        </div>
                    </div>

                    <div class="btn-section">
                        <button class="btn-add" (click)="goToAddSensor()">
                            Add Sensor <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                </div>

            </div>

            <hr class="hr-1">

        </div>

        <div class="page-body">


            <div class="part-container">

                <div class="part-img-section">
                    <div class="part-img-box">
                        <img [src]="getPartImg()" alt="part-img">

                        <div class="sensor-wrapper">
                            <div class="sensor-box" *ngFor="let item of partSensorList"
                                [ngClass]="[sensorBoxStatus(item.sensor_status)]"
                                [ngStyle]="sensorBoxPositionNew(item.sensor_box_position_left, item.sensor_box_position_top)">
                                {{item.sensor_name}}
                            </div>
                            <div class="sensor-line" *ngFor="let item of partSensorList"
                                [ngClass]="[sensorLineStatus(item.sensor_status)]"
                                [ngStyle]="sensorLinePositionNew(item.sensor_line_position_left, item.sensor_line_position_top, item.sensor_line_length, item.sensor_line_rotation)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="part-content-section">

                    <div class="part-content-body">
                        <div class="table-container">

                            <table class="table-sensor">
                                <thead>
                                    <tr>
                                        <th>Sensor Name</th>
                                        <th class="th-align-center">
                                            Status
                                            <mat-icon aria-hidden="false" aria-label="material-icon"
                                                fontIcon="sensors"></mat-icon>
                                        </th>
                                        <th>Date</th>
                                        <th>Time Stamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of partSensorList; index as i">
                                        <td class="text-center">{{item.sensor_name}}</td>
                                        <td class="text-center">
                                            <span class="material-icons" [ngClass]="sensorStatus(item.sensor_status) ">
                                                lightbulb
                                            </span>
                                        </td>
                                        <td class="text-center">{{item.sensor_timestamp | date: "dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{item.sensor_timestamp | date: "HH:mm:ss"}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>