// styles reset
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'prompt-light';
}

body {
    width: 100vw;
    height: 100vh;
}

// import style font-family: 'Prompt-Light'
@font-face {
    font-family: 'prompt-light';
    src: url('./assets/fonts/Prompt-ExtraLight.ttf');
}

// import style font-family: 'Prompt-Regular'
@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/Prompt-Regular.ttf');
}

$colordms1: #062226;
$colordms2: #11535f;
$colordms3: #36858a;
$colordms4: #4fbdba;
$colordms5: #aefeff;
$colordms6: #edffff;
$colordms7: #ffffff;

$colorgray1: #f8f9fa;
$colorgray2: #e9ecef;
$colorgray3: #dee2e6;
$colorgray4: #ced4da;
$colorgray5: #adb5bd;
$colorgray6: #6c757d;
$colorgray7: #495057;
$colorgray8: #343a40;
$colorgray9: #212529;

$colorslate1: #f8fafc;
$colorslate2: #f1f5f9;
$colorslate3: #e2e8f0;
$colorslate4: #cbd5e1;
$colorslate5: #94a3b8;

$colorslate6: #64748b;
$colorslate7: #475569;
$colorslate8: #334155;
$colorslate9: #1e293b;
$colorslate10: #0f172a;
$colorslate11: #020617;

// ------ css shadow ----------------
// box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
// box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
